<div class="card-body p-0">
    <div class="full-page row">
        <div class="col-2">
            <button class="button back-button" (click)="onBack()"><i-feather name="arrow-left" class="feather-sm"></i-feather><span class="text-center">Back to see all location</span></button>
            <agm-map [latitude]="chartData.cpMonitoringDetails.latitude" [longitude]="chartData.cpMonitoringDetails.longitude" [zoom]="zoom" [disableDefaultUI]="true"
                    [streetViewControl]="false" [minZoom]="zoom" [maxZoom]="zoom" [gestureHandling]="false" (mapReady)="mapReady($event)">
                    <agm-marker [latitude]="chartData.cpMonitoringDetails.latitude" [longitude]="chartData.cpMonitoringDetails.longitude" 
                    [iconUrl]="{
                        url: markerIconUrl.red,
                        scaledSize: {
                            width: 25,
                            height: 40
                        }
                      }">
                        <agm-info-window [isOpen]="true" >
                            <div class="marker-info mb-2">
                                <small class="d-flex fw-bold">CP Location</small>
                                <small>{{chartData.cpMonitoringDetails.address}}</small>
                            </div>
                            <div  class="marker-info">
                                <small class="d-flex fw-bold">Maintenance Program</small>
                                <small>{{chartData.cpMonitoringDetails.maintenanceProgram}}</small>
                            </div>
                            </agm-info-window>
                    </agm-marker>
                </agm-map>
        </div>
        <div class="col-4">
            <div class="row pt-4 px-2">
                <div class="col">
                    <p class="font600">Order Summary</p>
                </div>
            </div>
            <div class="row px-2">
                <div class="col-lg-4 px-1">
                    <div class="card bg-info card-info">
                        <div class="card-body p-3">
                            <div class="align-self-center">
                                <h6 class="mt-0 mb-1 text-info">Started</h6>
                                <h2 class="mt-1 mb-1 text-info">{{chartData.cpMonitoringDetails.totalOrders}}</h2>
                                <h6 class="mt-1 mb-0 text-info">order (s)</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-1">
                    <div class="card bg-info card-success">
                        <div class="card-body p-3">
                            <div class="align-self-center">
                                <h6 class="mt-0 mb-1 text-success">Completed</h6>
                                <h2 class="mt-1 mb-1 text-success">{{chartData.cpMonitoringDetails.completedOrders}}</h2>
                                <h6 class="mt-1 mb-0 text-success">order (s)</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-1">
                    <div class="card bg-info card-warning">
                        <div class="card-body p-3">
                            <div class="align-self-center">
                                <h6 class="mt-0 mb-1 text-warning">Incomplete</h6>
                                <h2 class="mt-1 mb-1 text-warning">{{chartData.cpMonitoringDetails.incompleteOrders}}</h2>
                                <h6 class="mt-1 mb-0 text-warning">order (s)</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2 px-2">
                <div class="col px-2">
                    <p class="font600">Breakdown of Error-codes over last 24h</p>
                </div>
                <div class="table-responsive bg-white ps-0">
                    <table class="table bg-white mb-0 text-nowrap">
                        <thead>
                            <tr>
                                <th><small>Error</small></th>
                                <th class="text-center"><small>Status</small></th>
                                <th class="text-center"><small>Severity</small></th>
                                <th class="text-center"><small>Time Occur</small></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="chartData.breakdownErrorDetails.breakdownErrorList.length == 0">
                            <tr rowspan="3" class="text-center align-middle">
                                <td colspan="4"><span class="text-muted">
                                    No Record(s) Found.
                                </span></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="chartData.breakdownErrorDetails.breakdownErrorList.length >0">
                            <tr *ngFor="let error of chartData.breakdownErrorDetails.breakdownErrorList">
                                <td class="text-error">
                                    <span class="fw-bold">{{ error.errorCode }}</span>
                                    <p><small class="text-wrap">{{ error.errorDescription}}</small></p>
                                </td>
                                <td class="text-center">
                                    <div *ngIf="error.status == errorCodeStatus.fixed.id " class="badge badge-success"><span>{{
                                        errorCodeStatus.fixed.message }}</span></div>
                                    <div *ngIf="error.status != errorCodeStatus.fixed.id " class="badge badge-in-progress"><span>{{
                                        errorCodeStatus.inProgress.message }}</span></div>
                                </td>
                                <td class="text-center">
                                    <div *ngIf="error.severity == errorCodeSeverity.critical.id" class="badge bg-critical"><span
                                            class="text-white">{{ errorCodeSeverity.critical.message }}</span></div>
                                    <div *ngIf="error.severity == errorCodeSeverity.high.id" class="badge bg-high"><span
                                            class="text-white">{{ errorCodeSeverity.high.message }}</span></div>
                                    <div *ngIf="error.severity == errorCodeSeverity.medium.id" class="badge bg-medium"><span
                                            class="text-white">{{ errorCodeSeverity.medium.message}}</span></div>
                                    <div *ngIf="error.severity == errorCodeSeverity.minor.id" class="badge bg-minor"><span
                                            class="text-white">{{ errorCodeSeverity.minor.message }}</span></div>
                                    <div *ngIf="error.severity == errorCodeSeverity.unknown.id" class="badge bg-unknown"><span
                                            class="text-white">{{ errorCodeSeverity.unknown.message }}</span></div>
                                </td>
                                <td class="align-right">
                                    <span>{{ error.timeOccur | date:'hh:mm a'}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 power-utilization">
            <div class="col pt-4 px-4">
                <p class="font600">Current Power Utilization Over Time</p>
            </div>
            <div class="row px-4">
                <div class="col-lg-4 px-1">
                    <div class="card">
                        <div class="card-body power-card">
                            <div class="align-self-center">
                                <h6 class="mt-0 mb-1 fw-bold text-summary">Consumption</h6>
                                <h2 class="mt-2 text-summary">{{chartData.powerUtilizationDetails.totalConsumptionKwh | number: '1.2'}}<span class="px-1"><small>kWh</small></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-1">
                    <div class="card">
                        <div class="card-body power-card">
                            <div class="align-self-center text-summary">
                                <h6 class="mt-0 mb-1 fw-bold text-summary">Generated Revenue</h6>
                                <h2 class="mt-2 text-summary">{{ chartData.powerUtilizationDetails.generatedRevenue | number: '1.2'}}<span class="px-1"><small>MYR</small></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-1">
                    <div class="card">
                        <div class="card-body power-card">
                            <div class="align-self-center">
                                <h6 class="mt-0 mb-1 fw-bold text-summary">Estimated Savings</h6>
                                <h2 class="mt-2 text-summary">{{ chartData.powerUtilizationDetails.estimatedSavings | number: '1.2'}}<span class="px-1"><small>MYR</small></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="height:370px;" class="d-flex flex-column">
                    <apx-chart [series]="powerUtilizationChartOptions.series"
                        [chart]="powerUtilizationChartOptions.chart" [xaxis]="powerUtilizationChartOptions.xaxis"
                        [yaxis]="powerUtilizationChartOptions.yaxis" [grid]="powerUtilizationChartOptions.grid"
                        [stroke]="powerUtilizationChartOptions.stroke" [tooltip]="powerUtilizationChartOptions.tooltip"
                        [dataLabels]="powerUtilizationChartOptions.dataLabels"
                        [legend]="powerUtilizationChartOptions.legend" [colors]="powerUtilizationChartOptions.colors"
                        [fill]="powerUtilizationChartOptions.fill" [markers]="powerUtilizationChartOptions.markers">
                    </apx-chart>
                </div>
                <div class="d-flex flex-wrap mb-4">
                    <div class="mx-auto">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6 class="text-dark"><i class="fa fa-circle fs-1 me-2 "
                                        style="color:#BFC5D9"></i>Excess Power</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-dark"><i class="fa fa-circle fs-1 me-2"
                                        style="color:#506194"></i>Consumed Power</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>