.nav-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 15px rgba(183, 183, 183, 0.25);
    padding: 15px 25px;
    &.card-layout {
        border-radius: 0px 0px 10px 0px;
    }
}

.nav-btn {
    width: 130px;
    padding: 10px 15px;
    font-weight: 700;
    margin: 0px 5px;
}

.container {
    margin-bottom: 100px;
}

.form-label {
    font-weight: 700;
    font-size: 14px;
    color: #818285;
    margin: 5px;
} 

.form-control, .form-select {
    font-size: 15px;
}

.err-msg {
    font-size: 13px;
}