.text-t{
    font-size: 21px; 
    font-weight: 700; 
    color: #4D4E54;
}

.text-desc{
    font-size: 14px; 
    font-weight: 400;
}

.f-black{
    color:#000;
}

.q-md{
    font-size: 14px; font-weight: 700; color: #506194;
}

.q-link{
    font-size: 14px; font-weight: 400; color: #FF7E03;
}