.toast-class {
    position: absolute;
    margin: 2rem;
    display: inline-flex;
    min-width: 300px;
    min-height: 70px;
    max-height: 200px;
    box-shadow: 4px 4px 6px #00000040;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.2rem;
    border-radius: 10px;
    font-size: 14px;

    background: #ffffff;
    color: #000000;
    left: 42vw;

    @media (max-width: 1180px) {
        left: 40vw;
    }

    @media (max-width: 860px) {
        left: 37vw;
    }
}

i-feather {
    width: 13px !important;
    height: 13px !important;
    color: #A7A7A7;
    align-items: center;
}

.success {
    .icon {
        margin-top: -2px;

        .title-icon {
            color: #00853B;
        }
    }

    .btn-toast {
        font-size: 10px;
        color: white !important;
        background-color: #00853B !important;
    }
}

.error {
    .icon {
        margin-top: -2px;

        .title-icon {
            color: #E82526;
        }
    }

    .btn-toast {
        font-size: 10px !important;
        color: white;
        background-color: #EA5B5C !important;
    }
}