<div class="row full-page">
    <div class="col-5 full-img">
        <img class="display-img" src = "/assets/images/ev-car-charged.png" />       
    </div>
    <div class="col-7 bg-white">
        <div class="card-body">
            <div class="m-3">
                <h3 class="page-title">{{title | translate}}</h3>
                <small class="text-dark">{{description | translate}}</small>
            </div>
            <div class="m-3 pt-4" #detailsForm="ngForm" ngForm >
                <div class="form-group mb-3">
                    <label class="form-label" for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Key-in the company name here">
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="productType">Product Type</label>
                    
                    <select name="productType" id="productType" class="form-select">
                    <option hidden selected [value]="null">Please select</option>
                    <option>Rapid Charger 50kW</option>
                    <!-- <option class="text-dark" *ngFor="let mp of maintenanceProgram" [value]="mp">{{ mp }}</option> -->
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="date">Date and Time</label>
                    <div class="flex-box">
                        <div class="input-group">
                            <input
                                type="date"
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                name="dp"
                                [(ngModel)]="date"
                                ngbDatepicker
                                #d="ngbDatepicker"
                            />
                            </div>
                            <div class="input-group">
                            <input
                                type="time"
                                class="form-control"
                                name="dp"
                                [(ngModel)]="time"
                                ngbDatepicker
                                #d="ngbDatepicker"
                            />
                            </div>
                    </div> 
                </div>
                <div class="flex-box mb-3">
                    <div class="col form-group">
                        <label class="form-label" for="officeNo">Office No.</label>
                        <input type="text" class="form-control" id="officeNo" name="officeNo" placeholder="Provide the office no. here">
                    </div>
                    <div class="col form-group">
                        <label class="form-label" for="mobileNo">Mobile Phone No.</label>
                        <input type="text" class="form-control" id="mobileNo" name="mobileNo" placeholder="Provide the mobile phone no. here" >
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label class="form-label" for="companyName">Location where the CP will be setup</label>
                    <span class="badge-flex-box form-control" >      
                        <span class="badge" *ngFor="let location of connectorList; let i = index">
                            {{ location }}
                            <a (click)="remove(i)"><i class="fa fa-times-circle"></i></a>
                        </span>      
                    </span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="otherLocation" name="otherLocation">
                    <label class="form-label" for="otherLocation">Other location</label>
                </div> 
            </div>
            <div class="nav-bottom d-flex">
                <div class="ms-auto">
                    <button class="btn btn-default nav-btn">
                        <span >Continue</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>