<div class="card-search-location mt-2 ">
    <div class="card-body">
        <h5 style="font-weight:bold">Select country and type in the location :</h5>
        <div class="row">
            <div class="col-3">
                <div class="form-group input-group rounded">
                    <select class="form-control form-select">
                        <option value="1">Malaysia</option>
                    </select>
                </div>
            </div>
            <div class="col-9">
                <div class="form-group input-group rounded">
                    <input type="text" class="form-control" placeholder="Enter your address here" [(ngModel)]="address"
                        autocorrect="off" autocapitalize="off" spellcheck="off" #search>
                        <i class="me-2 mdi mdi-crosshairs-gps"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<agm-map [latitude]="marker.latitude" [longitude]="marker.longitude" [zoom]="zoom" [disableDefaultUI]="true"
    [streetViewControl]="false" (mapClick)="markerDrag($event)" (mapReady)="mapReady($event)">
    <agm-marker *ngIf="isMarkerVisible" [latitude]="marker.latitude" [longitude]="marker.longitude"
        [label]="marker.label" [markerDraggable]="marker.draggable" (dragEnd)="markerDrag($event)"
        (click)="showLocationDetails = true"
        [iconUrl]="{
            url: markerIconUrl.red,
            scaledSize: {
              width: 30,
              height: 50
            }
          }">
        <agm-info-window>
            <p style="font-weight: 600;color: #67757c; padding-top:10px;">Latitude: <span>{{marker.latitude}}</span></p>
            <p style="font-weight: 600;color: #67757c;">Longitude: <span>{{marker.longitude}}</span></p>
            <p style="font-weight: 600;color: #67757c;width: 280px;word-wrap:break-word;">Address: <span>{{address}}</span></p>
        </agm-info-window>
    </agm-marker>
</agm-map>

<div class="nav-bottom d-flex">
    <div class="ms-auto">
        <button class="btn btn-default nav-btn" [disabled]="!isMarkerVisible" (click)="next()">Continue</button>
    </div>
</div>