

<div class="row page-breadcrumb mb-3">
    <div class="d-flex align-items-center">
        <h2 class="page-title">{{ "View My Booking" | translate }}</h2>
    </div>
</div>


<div id="paymentDashboard" class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card border-radius-20 mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center pb-3 mb-3">
                    <h3 class="m-0">{{ "Upcoming Booking" | translate }}</h3>
                </div>
                <div id="recentOrderTable">
                    <table class="table bg-white table-hover align-middle mb-0 text-nowrap table-borderless">
                        <tbody>
                            <tr *ngIf="upcomingBookingList && upcomingBookingList.length === 0">
                                <td colspan="6" class="text-center align-middle">
                                    <span class="text-muted font-medium">{{ "No Record(s) Found." | translate }}</span>
                                </td>
                            </tr>
                            <tr *ngFor="let recentOrder of upcomingBookingList">
                                <td class="align-left p-0 font-500">
                                    <div class="container">
                                        <div class="row mt-4 banner pt-4">
                                            <div class="col-md-5 mb-3">
                                                <img [src]="recentOrder.src" class="card-img-top img-fluid" alt="{{ recentOrder.type }}">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <h3 class="text-uppercase pb-4">{{ recentOrder.type }}</h3>
                                                <h4>{{ "Check In Date" | translate }}</h4>
                                                <h6 class="pb-3">{{ recentOrder.checkInDate | date: 'mediumDate' }}</h6>
                                                <h4>{{ "Check Out Date" | translate }}</h4>
                                                <h6 class="pb-3">{{ recentOrder.checkOutDate | date: 'mediumDate' }}</h6>
                                                <h4>{{ recentOrder.adult }} Adult, {{ recentOrder.children }} Children</h4>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <h3><b>MYR {{ recentOrder.price | number: '1.2-2' }}</b></h3>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card border-radius-20">
            <div class="card-body">
                <div class="d-flex align-items-center pb-3 mb-3">
                    <h3 class="m-0">{{ "Previous Booking" | translate }}</h3>
                </div>
                <div id="recentOrderTable">
                    <table class="table bg-white table-hover align-middle mb-0 text-nowrap table-borderless">
                        <tbody>
                            <tr *ngIf="previousBookingList && previousBookingList.length === 0">
                                <td colspan="6" class="text-center align-middle">
                                    <span class="text-muted font-medium">{{ "No Record(s) Found." | translate }}</span>
                                </td>
                            </tr>
                            <tr *ngFor="let previousOrder of previousBookingList">
                                <td class="align-left p-0 font-500">
                                    <div class="container">
                                        <div class="row mt-4 banner pt-4">
                                            <div class="col-md-5 mb-3">
                                                <img [src]="previousOrder.src" class="card-img-top img-fluid" alt="{{ previousOrder.type }}">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <h3 class="text-uppercase pb-3">{{ previousOrder.type }}</h3>
                                                <h4>{{ "Check In Date" | translate }}</h4>
                                                <h6 class="pb-3">{{ previousOrder.checkInDate | date: 'mediumDate' }}</h6>
                                                <h4>{{ "Check Out Date" | translate }}</h4>
                                                <h6 class="pb-3">{{ previousOrder.checkOutDate | date: 'mediumDate' }}</h6>
                                                <h4>{{ previousOrder.adult }} Adult, {{ previousOrder.children }} Children</h4>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <h3><b>MYR {{ previousOrder.price | number: '1.2-2' }}</b></h3>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
