 <div class="auth-wrapper" style="background:url(assets/images/pool.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="mt-4 wp-header">
            <div class="d-flex" (click)="redirectWelcome()">
                <img width="40px" height="40px" src = "assets/icons/coconut.svg" style="margin-right: 0.5rem;"/>
                <span><span class="logo-text-lg" >The Beverly Hills Hotel</span><p class="logo-text-sm" >The Beverly Hills Hotel Booking System</p></span>
            </div>
            <div class="d-flex" >
                <a href="/aboutus" class="wp-header-link">ABOUT US</a>
                <a href="/authentication/login" class="wp-header-link" >LOGIN</a>
                <button class="btn btn-outline-default wp-header-btn" (click)="redirectSignUp()">SIGN UP</button>
            </div>
        </div>

        <div class="row" >
            <div class="col-6"></div>
            <div class="col-5 wp-rs" >
                <span class="rs-text-lg">Welcome to <br><span style="color:green;">The Beverly Hills Hotel</span></span>
                <p class="rs-text-md">Discover The Perfect Balance Of Luxury And Comfort.</p>
                <!-- <p class="rs-text-md">Please Login To Make A Room Booking.</p> -->
                <!-- <h5 class="rs-text-md pt-2">Please Login To Make A Room Booking.</h5> -->
                <!-- <button class="btn btn-default mt-2" style="padding: 10px 20px; font-size:14px;" (click)="redirectLogin()"><span>LOGIN</span></button> -->
                <br>
                <br>
                <!-- <div class="row mt-4 wp-b" >
                    <div class="col-4"><h4 class="fs25-c">220+</h4><p class="fw400-fs12">Charger Station Point</p></div>
                    <div class="col-3" style="margin-left: 25px;"><h4 class="fs25-c">134+</h4><p class="fw400-fs12">Active Users</p></div>
                    <div class="col-4" style="margin-left: 10px;"><h4 class="fs25-c">26</h4><p class="fw400-fs12">Partner Collaboration</p></div>
                </div> -->
            </div>
        </div>
        <!-- <div class="tb-div">
            <h4 class="tb">How It Works?</h4>
        </div> -->

</div>

