<div class="px-3 py-2">
    <div class="d-flex">
        <a class="d-flex align-items-center mb-2 header-back link" (click)="backToOverview()"><img width="20px" src="assets/icons/arrow_back.svg" alt=""> <p class="m-0 mx-2">Back to Overview</p></a>  
    </div>
    <p class="h3">On Board New Charge Point</p>
</div>

<div class="full-page row m-0">
    <div class="col-4 side p-4 me-3">
        <small>Please complete all of the following steps to on board your new charge point.</small>

        <div class="d-flex align-items-center my-2 mt-4 px-3 py-2"
            [class.active-step]="currentPageTitle == 'Connector'"
           >
            <span class="step-number">
                <small class="number">1</small>
            </span>
            <span class="step-description">
                <p class="step-title">Connector Details</p>
                <small>Key-in all of the compulsory details.</small>
            </span>
        </div>

        <div class="d-flex align-items-center my-2 px-3 py-2"
            [class.active-step]="currentPageTitle == 'Review'"
           >
            <span class="step-number">
                <small class="number">2</small>
            </span>
            <span class="step-description">
                <p class="step-title">Finish</p>
                <small>Yeah! We have finished register for your CP.</small>
            </span>
        </div>
    </div>

    <div class="col overlay-bg position-relative p-0">
        <router-outlet></router-outlet> 
    </div>
</div>
