
 <div class="row mb-2 pt-3">
  <h2 class="py-1 px-4">Room Types</h2>
</div>
 <div class="page-breadcrumb mb-3">
  <section class="section section-lg pt-lg-0 mt--300"> 
    <section class="section pt-lg-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 pb-100">
            <div class="row row-grid">
              <div class="col-lg-6 col-md-12 mb-5" *ngFor="let room of roomTypesList">
                <div class="card card-lift--hover shadow border-0 h-100">
                  <img [src]="room.src" class="card-img-top img-fluid room-image" alt="{{ room.type }}">
                  <div class="card-body d-flex flex-column">
                    <h2 class="card-title">{{ room.type }}</h2>
                    <h5 class="card-subtitle mb-3">{{ room.description }}</h5>
                    <p>Basic Amenities: WiFi, Safety Box, Coffee & Tea, Kettle, Hair Dryer, Slippers, and Bottle of Water.</p>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li class="py-2">
                        <div class="d-flex align-items-center">
                          <span class="badge success-badge py-2">
                            <span class="circle"></span> {{ room.size }}
                          </span>
                        </div>
                      </li>
                      <li class="py-2">
                        <div class="d-flex align-items-center">
                          <span class="badge success-badge py-2">
                            <span class="circle"></span> {{ room.bed }} Sized Bed
                          </span>
                        </div>
                      </li>
                      <li class="py-2">
                        <div class="d-flex align-items-center">
                          <span class="badge success-badge py-2">
                            <span class="circle"></span> {{room.tvSize}}
                          </span>
                        </div>
                      </li>
                      <li class="py-2" *ngIf="room.type === 'BUILD PREMIUM'">
                        <div class="d-flex align-items-center">
                          <span class="badge success-badge py-2">
                            <span class="circle"></span> Balcony Area
                          </span>
                        </div>
                      </li>
                    </ul>
                    <div class="mt-auto">
                      <a href="javascript:void(0)" class="btn btn-primary btn-block" (click)="navToBook()">Book Room</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
